strax==1.4.2
straxen==2.0.6
wfsim==1.0.2
epix==0.3.3
git+https://github.com/XENONnT/ax_env

# For testing running notebooks
nbmake
pytest-xdist
cython
ipython
nbconvert==7.3.0
nbmake
pytest
coverage
coveralls
pytest-cov
pytest-notebook
ipython_genutils

